<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>QR Code Generator</title>
</head>
<body>
    <nav class = "navbar">
        <div class="left"> 
            <a href="/" class="underline">Main</a>
        </div>
        <div class = "right">
            <% if (locals.isAuthenticated) { %>
                <a href="/profile" class="underline">View your profile</a>
            <% } else if (locals.isAuthenticated === null){ %>
                <a href="/logout" class="underline">Logout</a>
            <% } else { %>
                <a href="/login" class="underline">Login</a>
            <% } %>
        </div>
    </nav>